@page "/page3"
<h3>Page3</h3>
<a href="message/Rahul/Dravid">Page2</a>
<a href="message/@Fname/@Lname">Click</a>

@code {
    public string Fname { get; set; } = "Sachin";
    public string Lname { get; set; } = "Tendulkar";
}
