@page "/page4"
@inject NavigationManager Navigation 
<button @onclick=GoToCounter>Counter</button>

@code {
    private void GoToCounter()
    {
        Navigation.NavigateTo("counter"); //Navigate to counter component
    }
}
