@page "/message"
@inherits MessageBase
<h3>Welcome to Blazor Components!!!</h3>
<h2>Welcome,@Name</h2>
<button @onclick=SetName>ClickMe</button>

@* @code {
    private string Name = "Virat";
    private void SetName()
    {
        Name = "Rohith";
    }
}
 *@