@page "/GetProduct"
@using HandsOnBlazorUsingModels.Model
@inherits HandsOnBlazorUsingModels.Codebase.ProductBase
<div class="container">
    <pre>
        Id:@product.Id
        Name:@product.Name
        Price:@product.Price
    </pre>
</div>

@code {
    // Product product = new Product()
    //     {
    //         Id = 1,
    //         Name = "Mouse",
    //         Price = 400
    //     };
}
